<div class="row">
  <div class ="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
      <!-- use method 3: shoppinglist service
      (ingredientAdded)="onIngredientAdded($event)"></app-shopping-edit> -->
    <hr>
    <ul class="list-group">
      <!-- change mouse to be cursor pointer -->
      <a href="#"
         class="list-group-item"
         style="cursor: pointer"
         *ngFor="let ingredient of ingredients"
      >
        {{ ingredient.name }} ({{ ingredient.amount }})
      </a>
    </ul>
  </div>
</div>
