<!-- recipes.component.html -->
<div class="row">
  <div class="col-md-5">
    <!-- put recipeWasSelected object to selectedRecipe
         (inside recipe-list.component)via $event -->
    <app-recipe-list></app-recipe-list>
    <!-- Use method 2: service
    (recipeWasSelected)="selectedRecipe = $event"></app-recipe-list> -->
  </div>
  <!-- recipe-list and recipe-detail are the same sibling -->
  <!-- pass selectedRecipe data to recipe-detail's recipeDetail -->
  <div class="col-md-7">
    <!-- using child routing to delete the following => localhost:4200/recipes => jump to recipe-detail.component
         instead of property-binding method
    -->
    <router-outlet></router-outlet>
    <!-- <app-recipe-detail
    *ngIf="selectedRecipe; else infoText"
    [recipeDetail]="selectedRecipe"></app-recipe-detail>
    <ng-template #infoText>
      <p>Please select a Recipe!</p>
    </ng-template> -->
  </div>
</div>
