<!-- app.component.html -->
<!-- method 2: use angular routing -->
<app-header></app-header>
<!-- method 1: use event binding -->
<!-- <app-header (featureSelected)="onNavigate($event)"></app-header> -->
<div class="container">
  <div class = "row">
    <div class="col-md-12">
      <!-- how to call other components under *ngIf <condition> -->
      <!-- app-recipes => recipes.component,
           app-shopping-list => shopping-list.component -->
      <!-- use <router-outlet> instead of the following codes -->
      <!--<app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes>
      <app-shopping-list *ngIf="loadedFeature !== 'recipe'"></app-shopping-list> -->
      <!-- angular 2 uses <router-outlet>, angular 1 uses <ng-view> -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
