<!-- recipe-item.component.html -->
<!-- single item and add event binding => onSelected() -->
<!-- delete href="#" to fix reload the page problem
<a href="#" class="list-group-item clearfix"  -->
<!-- use child routing => not need the following statement, (click)="onSelected()" -->
<!-- <a style="cursor: pointer;"
   class="list-group-item clearfix"
  (click)="onSelected()">
   <a [routerLink] ="['recipe', index]">
-->

<a style="cursor: pointer;"
   [routerLink] = "[index]"
   routerLinkActive="active"
     class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
    <p class="list-group-item-text">{{ recipe.description }}</p>
  </div>
  <!-- <img src="{{ recipe.imagePath }} ..." -->
  <span class="pull-right">
        <img
          [src]="recipe.imagePath"
          title="{{ recipe.name }}"
          class="img-responsive"
          style="max-height: 50px;">
      </span>
</a>
