<!-- receipe-list.component.html -->
<div class="row">
  <div class="col-xs-12">
    <!-- use routerLink instead of (click)="onNewRecipe()"
    <button class="btn btn-success" [routerLink]="['new']">New Recipe</button>
    -->
    <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <!-- property binding => [recipe]="recipeItem" => pass an object (recipeItem) via recipe to recipe-item.component-->
    <!-- property binding (Top to bottom) DataFlow from recipe-list.component => recipe-item.component -->
    <!-- event binding (bottom to Top) DataFlow from recipe-item.component => recipe-list.component -->
    <!-- [index] = "i" is property-binding -->
    <app-recipe-item
      *ngFor="let recipeItem of recipes; let i = index"
      [recipe]="recipeItem"
      [index]="i">
    </app-recipe-item>
      <!-- Method 2: use service not to use the following statement
      (recipeSelected)="onRecipeSelected(recipeItem)"></app-recipe-item>  -->
  </div>
</div>
    <!-- https://stackoverflow.com/questions/8554043/what-is-a-clearfix -->
    <!--a href="#" class="list-group-item clearfix">
    <div class="pull-left">
      <h4 class="list-group-item-heading">Recipe Name</h4>
      <p class="list-group-item-text">Description</p>
    </div>
    <span class="pull-right">
        <img src="" alt="" class="img-responsive" style="max-height: 50px;">
      </span>
    </a -->
    <!-- put recipes object into recipe and move it to recipe-item.component.html-->
    <!--a href="#" class="list-group-item clearfix"
       *ngFor="let recipe of recipes">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
        <p class="list-group-item-text">{{ recipe.description }}</p>
      </div>
      <!-- <img src="{{ recipe.imagePath }} ..." >
      <span class="pull-right">
        <img
          [src]="recipe.imagePath"
          title="{{ recipe.name }}"
          class="img-responsive"
          style="max-height: 50px;">
      </span>
    </a
    <app-recipe-item-- ></app-recipe-item-->


